.main-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    border-radius: 10px;
    background: linear-gradient(360deg, rgb(149, 156, 227) 0%, rgb(187, 206, 243) 100%);
    padding: 20px;
    width: 50%;
    margin: auto;
    font-weight: bold;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; /* Space between fields */
}

.form-group > input[type=text]{
    padding:5px;
    font-weight: bold;
    color: #7380c6;
    border-radius: 10px;
    border: none;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    margin-top: 5px;
}

tr th{
    background-color: #8697C4FF;
}

tr:nth-child(even) td{
    background-color: #dbe5ff;
}

tr:nth-child(odd) td{
    background-color: white;
}

th,td{
    padding: 5px;
}

tr th:not(:first-child), tr td:not(:first-child){
    border-left: 1px solid black;
}

table {
    /* Change these properties */
    --border: 1px solid black;
    border-radius: 10px;

    /* Don't change these properties */
    border-spacing: 0;
    border-collapse: separate;
    border: var(--border);
    overflow: hidden;

    width: 100%;
    text-align: center;
}

.add-btn{
    padding: 7px;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    background-color: #dbe5ff;
    font-weight: bold;
    color: #5571ef;
}

.add-btn:focus, .add-btn:hover{
    background-color: #ffccbb;
    color: #d3503a;
    cursor: pointer;
}

body{
    background-color: #e5e5f6;
    font-family: 'Roboto', serif;
    color: #373947;
}

.delete-btn > button{
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    background-color: #ec4646;
    font-weight: bold;
    color: #ffffff;
}

.delete-btn > button:focus, .delete-btn>button:hover{
    background-color: #d53b3b;
    cursor: pointer;
}
